:root {
  /* sizes */
  --normal-font-size: 1.2rem;
  --small-padding: 1rem;
  --xsmall-padding: 0.5rem;
  --medium-height: 2rem;
  --large-height: 6rem;
  /* color */
  --light-gray: rgb(236, 236, 236);
  --gray: rgb(200, 200, 200);
  --light-blue: rgba(0, 0, 255, 0.719);
  --light-black: #666666;
  --black: #333333
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
}

body {
  font-size: var(--normal-font-size);
  font-family: "Helvetica Neue", Helvetica, Arial;
}

.link {
  text-decoration: none;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: var(--light-blue);
  min-height: var(--large-height);
  box-shadow: 5px 10px 8px var(--gray);
  padding: var(--xsmall-padding);
  margin-bottom: var(--small-padding);
  color: var(--light-gray);
}

.navbar-logo-h1 {
  color: var(--light-gray);
}

.navbar-logo-sub {
  color: white;
}

.navbar-add-new {
  border: none;
  font-weight: 500;
  padding: 0.2rem 0.4rem;
  background: white;
  border-radius: 0.2rem;
  cursor: pointer;
}

.container {
  max-width: 80%;
  min-height: 80vh;
  margin: 0 auto;
}

.homepage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.note {
  border: 2px dashed var(--gray);
  background: var(--light-gray);
  width: 18rem;
  height: 10rem;
  max-width: 18rem;
  max-height: 10rem;
  padding: var(--xsmall-padding);
  margin: var(--small-padding);
  border-radius: 1rem;
  color: var(--black)
}

.note-link{
  text-decoration: none;
  color: var(--black);
}

.note-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: var(--xsmall-padding);
}

.note-body{
  padding: var(--xsmall-padding) 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 15rem;
}

.form {
  display: flex;
  flex-direction: column;
  width: 40rem;
  min-width: 20rem;
}

label {
  margin-top: var(--small-padding);
}

input {
  background: var(--light-gray);
  border: none;
  border-bottom: 2px solid var(--gray);
  padding: var(--xsmall-padding);
  border-radius: 6px;
}
textarea {
  background: var(--light-gray);
  border: none;
  border-bottom: 2px solid var(--gray);
  padding: var(--xsmall-padding);
  border-radius: 6px;
}

.form-add-note {
  width: 100%;
}

.form-add-note-body {
  min-height: 15rem;
}

.newnote {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-group-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: var(--small-padding) 0;
}

.btn {
  padding: var(--xsmall-padding) var(--small-padding);
  cursor: pointer;
  border: none;
  border-radius: 6px;
  font-weight: bold;
}

.remove-btn {
  background: red;
  color: white;
}

.remove_x {
  background: none;
  color: var(--light-black);
  border: none;
  font-size: var(--medium-height);
}

.save-btn {
  background: green;
  margin: 0 var(--xsmall-padding);
  color: white;
}

.cancel-btn {
  color: red;
}

.footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 0.12rem solid var(--light-gray);
  padding: var(--small-padding);
  color: var(--gray);
  margin-top: var(--small-padding);
}
